[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
setuptools-git-version = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
twine = "*"

[requires]
python_version = "3.8"
